# DBT specific
target/
dbt_packages/
logs/
dbt.exe
target_test/

# Python virtual environment
env/
venv/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# User-specific configurations
.user.yml
